<% add_decidim_meta_tags({
  description: t("decidims_finder_page.description", scope: "participagencat")
}) %>

<%= stylesheet_link_tag 'decidims_finder' %>
<script type="text/javascript">
  function getTranslation(translation) {
    translations = <%= @current_translations.to_json.html_safe %>;
    return translations[translation];
  }

  function getAlgolia() {
    return <%= Rails.application.secrets.algolia.to_json.html_safe %>;
  }
</script>


<% content_for :aside do %>
  <h1 class="title-decorator"><%= t("menu.decidims_finder", scope: "participagencat") %></h1>

  <%= render partial: "filters" %>
<% end %>

<%= render layout:"layouts/decidim/shared/layout_two_col" do %>
  <%= render partial: "decidim/shared/floating_help", locals: { content: I18n.t('participagencat.decidims_finder_page.helper_html').html_safe, id: "decidims_finder-floating-help" } %>

  <section id="decidims" class="layout-main__section layout-main__heading">
    <p id="stats" class="txt_result"></p>
    <div id="hits"></div>
    <div class="column pagination">
    <div id="pagination"></div>
  </section>
<% end %>

<!-- TEMPLATES instantsearch -->
<script type="text/html" id="hit-template">
  <section>
    <div class="card card__highlight card__highlight-container">
      <div class="card__highlight--text">
        <div class="text">
          <a class="h3 text-secondary" target="_new" href="{{url}}">
            {{title}}
          </a>
          <p>{{{description}}}</p>
        </div>
      </div>
      <div class="card__icondata">
        <div class="card-data">
          <div class="card-data__item">
            <%= icon "map-pin-line" %>
            <div class="text-left">
              <div class="card__icondata">{{entity}}</div>
            </div>
          </div>
          <div class="card-data__item">
            <%= icon "time-line", class: "w-3.5 h-3.5" %>
            <p>{{start_date}} - {{end_date}}</p>
          </div>
        </div>
      </div>
    </div>
  </section>
</script>

<script type="text/html" id="no-results-template">
  <div class="callout warning">
    <p><%= raw t("decidims_finder_page.no_results", scope: "participagencat") %></p>
  </div>
</script>
<!-- END TEMPLATES instantsearch -->

<%= append_javascript_pack_tag 'decidims_finder' %>
