<div class="card card-custom">
  <div class="card-divider">
    <h2 class="card-title"><%= t ".preview" %></h2>
  </div>
  <div class="card-section">
    <dl>
      <dt><%= t ".subject" %></dt>
      <dd><%= @email.subject %></dd>
    </dl>

    <iframe src="<%= preview_newsletter_path(@newsletter) %>" class="email-preview">
    </iframe>
  </div>
</div>
<div class="container-processes" style="display:none">
    <%= render partial: "processes_div" %>
</div>

<div class="button--double form-general-submit">
  <% if allowed_to?(:update, :newsletter, newsletter: @newsletter) && !@newsletter.sent? %>
    <%= link_to t("actions.edit", scope: "decidim.admin"), ["edit", @newsletter], class: "button" %>
  <% end %>
  <% unless @newsletter.sent? %>
    <%= link_to t(".deliver"), deliver_newsletter_path(@newsletter), method: :post, class: "button alert deliver", data: { confirm: t(".confirm_deliver") } %>
  <% end %>
  <% unless @newsletter.sent? %>
  <a class="button back" style="display:none"><%= t(".back")%></a>
  <a class="button clean-newsletter" style="display:none"><%= t(".re_select")%></a>
  <a class="button alert confirm-newsletter"><%= t(".deliver_process") %></a>
    <% if false %><%= link_to t(".deliver_process"), deliver_newsletter_path(@newsletter), method: :post, class: "button alert", data: { confirm: t(".confirm_deliver_process") } %><% end %>
  <% end %>
</div>

<script>
    $( ".confirm-newsletter" ).click(function() {
        $(".container .card-custom").hide();
        $(".deliver").hide();
        $(".deliver").hide();
        $(".edit").hide();
        $(".back").show();
        $(".clean-newsletter").hide();
        $(".container-processes").show();
        $(".confirm-newsletter").hide();
    });
    $( ".back" ).click(function() {
        $(".container .card-custom").show();
        $(".deliver").show();
        $(".deliver").show();
        $(".edit").show();
        $(".back").hide();
        $(".container-processes").hide();
        $(".clean-newsletter").hide();
        $( ".selectable" ).each(function( index ) {
            $(this).hide();
        });
        $(".card-grid").attr("class", "row small-up-3 medium-up-3 large-up-3 card-grid");
        $( ".mail-info" ).each(function( index ) {
            $(this).hide();
        });
        $(".confirm-newsletter-2").attr("class", "button alert confirm-newsletter");
        $(".confirm-newsletter").attr("href", "#");
        $(".confirm-newsletter").show();
    });
    $( ".selectable" ).click(function() {
        $( ".selectable" ).each(function( index ) {
            $(this).hide();
        });
        $(this).find(".mail-info").show();
        $(this).show();
        $(".card-grid").attr("class", "row small-up-1 medium-up-1 large-up-1 card-grid");
        // we fill the button information

        $(".confirm-newsletter").attr("href", "/admin/newsletter/<%= params[:id] %>/deliver_process/"+$(this).attr("id"));
        $(".confirm-newsletter").attr("class", "button alert confirm-newsletter-2");
        $(".confirm-newsletter-2").show();
        $(".clean-newsletter").show();
    });
    $(".clean-newsletter").click(function() {
        $( ".selectable" ).each(function( index ) {
            $(this).show();
        });
        $(".card-grid").attr("class", "row small-up-3 medium-up-3 large-up-3 card-grid");
        $( ".mail-info" ).each(function( index ) {
            $(this).hide();
        });
        $(".confirm-newsletter-2").attr("class", "button alert confirm-newsletter");
        $(".confirm-newsletter").attr("href", "#");
        $(".confirm-newsletter").hide();
        $(".clean-newsletter").hide();
    });
    $( ".confirm-newsletter" ).click(function() {
        $( ".selectable" ).each(function( index ) {
            $(this).show();
        });
    });
    $(".confirm-newsletter-2").click(function() {
        $(".container-processes").hide();
    });
    $( ".no_mails_in_process" ).each(function( index ) {
        $(this).closest(".column").remove();
    });

</script>
