<div class="row small-up-1 smallmedium-up-2 mediumlarge-up-2 large-up-2 card-grid">
	<div class="column">
		<p class="part-paragraf">
				<svg class="icon  icon-thumb-up">
						<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/decidim/icons-aa71fb7b9fb5d043b71aef057f4425f0f67c6e3642210bc7d2a80d6db01e4206.svg#icon-thumb-up">
						</use>
				</svg>
				<%= t(".positive") %>
		</p>
		<% auxCommentId = 0 %>
		<% if most_voted_positive_comment.any? %>
			<% most_voted_positive_comment.each do |comments| %>
				<% if (more_positive_comment(comments.id, auxCommentId) == false) %>
					<% auxCommentId = comments.id %>
				<% end %>
			<% end %>
			<% get_comment(auxCommentId).each do |comment| %>
			<% if get_positive_count_comment(comment.id) > 0 %>
					<div class="comment-thread">
						<article class="comment">
							<div class="comment__header">
								<div class="author-data">
									<div class="author-data__main">
										<div class="author author--inline">
											<a class="author__avatar">
												<% if comment_author_avatar(comment.decidim_author_id).nil? %>
													<img src="/assets/decidim/default-avatar-cd3571d681f6fdff8c7741d56e9842d6320451bdbd18ca2cf6bc70a7ff1705a2.svg" alt="author-avatar">
												<% else %>
													<img src="/uploads/decidim/user/avatar/<%= comment.decidim_author_id %>/<%= comment_author_avatar(comment.decidim_author_id) %>" alt="author-avatar">
												<% end %>
											</a>
											<a class="author__name" href="#comment_<%= comment.id %>">
												<%= comment_author(comment.decidim_author_id) %>
											</a>
											<time> 
												<%= comment.created_at.strftime("%d-%m-%Y") %>
											</time>
										</div>
									</div>
								</div>
							</div>
							<div class="comment__content">
								<p>
									<span><span class="label alignment success"><%= t(".actually_positive")%></span><!-- react-text: 161 -->&nbsp;<!-- /react-text --></span>
										<%= comment.body.to_s %>
									</p>
							</div>
							<div class="comment__footer">
								<div class="comment__votes">
									<button class="" disabled="">
										<svg class="icon icon--small icon-chevron-top">
											<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/decidim/icons-aa71fb7b9fb5d043b71aef057f4425f0f67c6e3642210bc7d2a80d6db01e4206.svg#icon-chevron-top">
											</use>
										</svg>
										<%= get_positive_count_comment(comment.id) %>
									</button>
									<button class="" disabled="">
										<svg class="icon icon--small icon-chevron-bottom">
											<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/decidim/icons-aa71fb7b9fb5d043b71aef057f4425f0f67c6e3642210bc7d2a80d6db01e4206.svg#icon-chevron-bottom">
											</use>
										</svg>
										<%= get_negative_count_comment(comment.id) %>
									</button>
								</div>
							</div>
						</article>
					</div>
				<% else %>
					<p class="part-cont-5"><%= t(".no_results") %></p>
				<% end %>
			<% end %>
		<% else %>
			<p class="part-cont-5"><%= t(".no_results") %></p>
		<% end %>
	</div>
	<% auxCommentId = 0 %>
	<div class="column">
		<p class="part-paragraf">
			<svg class="icon  icon-thumb-down">
					<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/decidim/icons-aa71fb7b9fb5d043b71aef057f4425f0f67c6e3642210bc7d2a80d6db01e4206.svg#icon-thumb-down">
					</use>
			</svg>
			<%= t(".negative") %>
		</p>
		<% if most_voted_negative_comment.any? %>
			<% most_voted_negative_comment.each do |comments| %>
				<% if (more_positive_comment(comments.id, auxCommentId) == false) %>
					<% auxCommentId = comments.id %>
				<% end %>
			<% end %>
				<% get_comment(auxCommentId).each do |comment| %>
					<% if get_positive_count_comment(comment.id) > 0 %>
						<div class="comment-thread">
							<article class="comment">
								<div class="comment__header">
									<div class="author-data">
										<div class="author-data__main">
											<div class="author author--inline">
												<a class="author__avatar">
													<% if comment_author_avatar(comment.decidim_author_id).nil? %>
														<img src="/assets/decidim/default-avatar-cd3571d681f6fdff8c7741d56e9842d6320451bdbd18ca2cf6bc70a7ff1705a2.svg" alt="author-avatar">
													<% else %>
														<img src="/uploads/decidim/user/avatar/<%= comment.decidim_author_id %>/<%= comment_author_avatar(comment.decidim_author_id) %>" alt="author-avatar">
													<% end %>
												</a>
												<a class="author__name" href="#comment_<%= comment.id %>">
													<%= comment_author(comment.decidim_author_id) %>
												</a>
												<time> 
													<%= comment.created_at.strftime("%d-%m-%Y") %>
												</time>
											</div>
										</div>
									</div>
								</div>
								<div class="comment__content">
									<p>
										<span><span class="label alignment alert"><%= t(".actually_negattive")%></span><!-- react-text: 161 -->&nbsp;<!-- /react-text --></span>
											<%= comment.body.to_s %>
									</p>
								</div>
								<div class="comment__footer">
									<div class="comment__votes">
										<button class="" disabled="">
											<svg class="icon icon--small icon-chevron-top">
												<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/decidim/icons-aa71fb7b9fb5d043b71aef057f4425f0f67c6e3642210bc7d2a80d6db01e4206.svg#icon-chevron-top">
												</use>
											</svg>
											<%= get_positive_count_comment(comment.id) %>
										</button>
										<button class="" disabled="">
											<svg class="icon icon--small icon-chevron-bottom">
												<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/decidim/icons-aa71fb7b9fb5d043b71aef057f4425f0f67c6e3642210bc7d2a80d6db01e4206.svg#icon-chevron-bottom">
												</use>
											</svg>
											<%= get_negative_count_comment(comment.id) %>
										</button>
									</div>
								</div>
						</article>
					</div>
				<% else %>
					<p class="part-cont-5"><%= t(".no_results") %></p>
				<% end %>
			<% end %>
		<% else %>
			<p class="part-cont-5"><%= t(".no_results") %></p>
		<% end %>
	</div>
</div>