<div class="card card--secondary">
    <div class="filters__section">
        <%= form_tag("/meetings", method: "get") do %>
            <h6 class="heading6"><%= label_tag(:name, t(".name")) %></h6>
            <div class="input-group">
                <%= text_field_tag(:name, params["name"], class: "input-group-field", placeholder: t('.name_placeholder')) %>
                <div class="input-group-button">
                    <%= button_tag(type: "submit", class: "button button--muted", id: "btnMeetingsSubmit") do %>
                        <%= icon "magnifying-glass" %>
                    <% end %>
                </div>
            </div>
            <% if false %>
                <fieldset id="meetingsSearch">
                    <h6 class="heading6"><%= label_tag(:name, t(".scopes")) %></h6>
                    <%= collection_check_boxes(:filter, :scope_id, show_scopes.all, :id, :name) do |b| %>
                        <%= b.label class:"label-checkbox" do %>
                        <%=b.check_box + b.text%>
                        <%end%>
                    <% end %>
                </fieldset>
            <% end %>
            <fieldset id="processMeetings">
                <br>
                <h6 class="heading6"><%= label_tag(:name, t(".processes_regulations")) %></h6>
                <select name="related_process" id="meetingsProcess">
                        <option value="0"><%= t(".all") %></option>
                    <% show_processes.each do |relatedProcess| %>

                        <% 
                        if (!(relatedProcess.published_at.nil?))
                        if params.has_key?(:related_process) %>
                            <% if params[:related_process].to_i == relatedProcess.id %>
                                <option value="<%= relatedProcess.id %>" selected><%= translated_attribute relatedProcess.title %></option>
                            <% else %>
                                <option value="<%= relatedProcess.id %>"><%= translated_attribute relatedProcess.title %></option>
                            <% end %>
                        <% else %>
                            <option value="<%= relatedProcess.id %>"><%= translated_attribute relatedProcess.title %></option>
                        <% end %>
                        <% 
                            end
                        end
                        %>
                </select>
            </fieldset>
            <fieldset id="happenedMeetings">
                <h6 class="heading6"><%= label_tag(:name, t(".happened_title")) %></h6>
                <label>
                    <%= radio_button("post", "happened", "0") %> <%= t(".next_ones") %>
                </label>
                <label>
                    <%= radio_button("post", "happened", "1") %> <%= t(".happened") %>
                </label>
            </fieldset>
            <fieldset id="dateMeetings">
                <h6 class="heading6"><%= label_tag(:name, t(".date")) %></h6>
                <label>
                    <select name="date" id="meetingsDate">
                        <option value="0"><%= t(".date_all") %></option>
                        <option value="1"><%= t(".date_next_24") %></option>
                        <option value="2"><%= t(".date_next_week") %></option>
                        <option value="3"><%= t(".date_next_month") %></option>
                    </select>
                </label>
            </fieldset>
        <% end %>
    </div>
</div>
