<% is_process = request.original_fullpath.include? "/processes" %>

<%# if is_process %>
  <%= cell "decidim/participatory_processes/process_filters", default_filter: default_date_filter %>
<%# end %>

<% if !is_process %>
  <%= form_tag("/regulations", method: "get") do %>
  <div class="fwk-row">
    <div class="fwk-col-md-5">
      <div class="row collapse order-by">
        <h2 class="order-by__text section-heading part-regulation-top-margin">
          <%= t("participatory_processes.order_by_processes.regulations", scope: "layouts.decidim", count: collection.count) %>
            <span class="order-by__tabs">
              <button type="submit" name="status" class="order-by__tab part-regulation-tab <%= "is-active" unless params[:status].present? %>" value="2" id="status_2"><%= t(".opened") %></button>
              <button type="submit" name="status" class="order-by__tab part-regulation-tab" value="1" id="status_1"><%= t(".closed") %></button>
              <button type="submit" name="status" class="order-by__tab part-regulation-tab" value="0" id="status_0"><%= t(".all") %></button>
            </span>
        </h2>
      </div>
    </div>
    <div class="fwk-col-md-7">
      <% if include_filter %>
        <span class="order-by__tabs">
          <div class="fwk-row">
              <div class="fwk-col-md-6">
                <select name="type_id" id="type_id">
                    <option value="0"><%= t(".select_type")%></option>
                  <% types.each do |type| %>
                    <% if params.has_key?(:type_id) %>
                      <option value="<%= type.id %>" <% if params[:type_id] == type.id.to_s %> selected <% end %>><%= translated_attribute(type.name)%></option>
                    <% else %>
                      <option value="<%= type.id %>"><%= translated_attribute(type.name)%></option>
                    <% end %>
                  <% end %>
                </select>
              </div>
              <div class="fwk-col-md-6">
                <select name="theme_id" id="theme_id">
                  <option value="0"><%= t(".select_tema")%></option>
                  <% themes_for_select.each do |tema| %>
                    <% if params.has_key?(:theme_id) %>
                      <option value="<%= tema[1] %>" <% if params[:theme_id] == tema[1].to_s %> selected <% end %>><%= tema[0] %></option>
                    <% else %>
                      <option value="<%= tema[1] %>"><%= tema[0] %></option>
                    <% end %>
                  <% end %>
                </select>
                <%= submit_tag "Search", class: "hidden-submit" %>
              </div>
          </div>
        </span>
      <% end %>
    </div>
  </div>
  <script>

jQuery(document).ready(function () {
    $( "#type_id" ).change(function() {
      $( ".hidden-submit" ).click();
    });
    $( "#theme_id" ).change(function() {
      $( ".hidden-submit" ).click();
    });
});
  </script>
  <% end %>
<% end %>

<% if params.has_key?(:status) %>
<input type="text" value="<%= params[:status] %>" style="display: none" id="status_id"/>
<% end %>
