<%= stylesheet_link_tag "//cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.7.1/slick.min.css"%>
<%= stylesheet_link_tag "//cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.7.1/slick-theme.min.css"%>
<%= javascript_include_tag "//cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.7.1/slick.min.js"%>
<div class="slick-carousel">
	<% home_participatory_processes.each do |process| %>
		<div class="slick-slide">
			<figure>
				<img src="<%= process.hero_image %>" alt="" />
				<figcaption>
					<h2>
						<%= link_to decidim_participatory_processes.participatory_process_path(process) do %>
							<%= translated_attribute process.title %>
						<% end %>
					</h2>
					<p><%= translated_attribute process.subtitle %></p>
					<%= link_to decidim_participatory_processes.participatory_process_path(process), class: "button part-btn" do %>
						Participa
					<% end %>
				</figcaption>
			</figure>
		</div>
	<% end %>
	<% home_assemblies.each do |assembly| %>
		<div class="slick-slide">
			<figure>
				<img src="<%= assembly.hero_image %>" alt="" />
				<figcaption>
					<h2>
						<%= link_to decidim_assemblies.assembly_path(assembly) do %>
							<%= translated_attribute assembly.title %>
						<% end %>
					</h2>
					<p><%= translated_attribute assembly.subtitle %></p>
					<%= link_to decidim_assemblies.assembly_path(assembly), class: "button part-btn" do %>
						Participa
					<% end %>
				</figcaption>
			</figure>
		</div>
	<% end %>
</div>
