<div class="form__wrapper">
  <div class="card pt-4">
    <div class="card-section">
      <div class="row column">
        <%= form.translated :editor, :body, lines: 30, label: t("models.components.body", scope: "decidim.pages.admin") %>
      </div>
      <div class="row column">
        <legend><%= t(".attachment_legend") %></legend>
        <%= form.fields_for :attachment, @form.attachment do |form| %>
          <%= form.text_field :title %>
          <%= form.upload :file, button_class: "button button__sm button__transparent-secondary" %>
          <% if params[:id].present? %>
            <% if page.documents.present? %>
              <%= form.hidden_field :id, value: proposal.documents.first.id %>
              <%= form.check_box :delete_file, label: t(".delete_attachment"), value: proposal.documents.first.id %>
            <% end %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
