<%= form.hidden_field :handler_name %>
<%= form.hidden_field(:response_state, :value => params[:state]) %>
<%= form.hidden_field(:response_code, :value => params[:code]) %>
<%= form.hidden_field(:response_error, :value => params[:error]) %>
<%= form.hidden_field(:response_access_token, :value => params[:raccess_token]) %>
<%= form.hidden_field(:response_refresh_token, :value => params[:refresh_token]) %>
<%= form.hidden_field(:response_expires_in, :value => params[:expires_in]) %>
<%= form.hidden_field(:response_token_type, :value => params[:token_type]) %>
<%
if(params[:code].nil? || params[:code].empty?) %>
    <%= form.hidden_field(:redirect, :value => true) %>
    <div class="field">
        <p><%= t("form.msg", scope: "decidim.authorization_handlers.idcat_authorization_handler") %>
    </div>
    <div class="actions">
        <%= form.submit t("form.submit", scope: "decidim.authorization_handlers.idcat_authorization_handler"), class: "button expanded" %>
    </div><%
else %>
    <div class="actions">
        <%= form.submit t("authorize", scope: "decidim.authorizations.new"), class: "button expanded" %>
    </div><% 
    if params[:state] != nil
        %><script>
            document.getElementById('new_authorization_handler').submit();
        </script><%
    end
end
%>